::root {
  --principal: #070C1F;
  /*#0A192F*/
  --resaltar: #336699;
  /*#4D648D */
  --texto: #E2E8F0;
  /*#C9D1D9*/
  --fondo_seccion: #1C2331;
  /*#212F45 */
  --contraste: #FFFFFF
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #01003a;
}

.Container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  color: white;
  background: url("../public/bg_gradient.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Container::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}