:root {
  --principal: #070C1F;
  --resaltar: #336699;
  --texto: #E2E8F0;
  --fondo_seccion: #1C2331;
  --contraste: #FFFFFF;
  /*FONTS*/
  --logo: 'Cherry Bomb One', cursive;
  --default_font: 'Comfortaa', cursive;
}

/*#0A192F*/
/*#4D648D */
/*#C9D1D9*/
/*#212F45 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #01003a;
}

.Container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  color: var(--contraste);
  background: url("../public/bg_gradient.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Container::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 60px;
}